<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <title>Chat App</title>

  <meta name="description" content="LLM discussion demonstration application" />
  <meta name="keywords" content="LLM, chatbot" />
  <meta name="author" content="HLI Lab" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="icon" href="{{url_for('static', filename='favicon.ico')}}" type="image/x-icon" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&family=Open+Sans:wght@400;700&display=swap" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
  {% block content %}
  {% endblock %}
</body>

</html>
