{% extends 'base.html' %}
{% block content %}
<section>
  <h2 align="center" style="margin-bottom:30px;">AI들의 토론을 지켜보세요!</h2>
  <h4 align="center" style="margin-bottom:8px;">ChatGPT와 Gemini의 토론이 시작됩니다.</h4>
  <h4 align="center" style="margin-top:5px;">관심있는 주제를 입력해주세요.</h4>
  <form method="post" class="buttons">
    <div style="margin:40px 0">
      <input type="text" placeholder="주제를 입력하세요" name="topic" id="input-topic" value="{{ topic }}" />
      <button type="submit" name="create" id="create-btn">토론 시작!</button>
    </div>

    <div align="center" style="margin-top:40px;">
      <h3 align="center" style="margin-top:5px">이런 토론 주제도 가능해요!</h3>
      <ul style="list-style: none; padding:0; margin-top:10px;">
        {% for t in random_topics %}
        <li style="margin:8px 0; font-weight:500; cursor:pointer;" onclick="fillInput('{{ t }}')">{{ t }}</li>
        {% endfor %}
      </ul>
    </div>
    <!-- <div class="join">
      <input type="text" placeholder="Room Code" name="code" value="{{code}}" />
      <button type="submit" name="join">Join a Room</button>
    </div>
    <div class="container center">
      <button type="submit" name="create" class="create-btn">토론 시작!</button>
    </div> -->
    {% if error %}
    <ul>
      <li>{{error}}</li>
    </ul>
    {% endif %}
  </form>
</section>

<script>
  function fillInput(topic) {
    const input = document.getElementById("input-topic");
    if (input) {
      input.value = topic;
      input.focus();
    }
  }
</script>
{% endblock %}
