{% extends 'base.html' %}
{% block content %}
<section class="message-box ">
  <h2>토론 주제: {{ topic }}</h2>
  <div class="messages scrollbar" id="messages">
    {% for msg in messages %}
    <div class="message {{ 'user1' if msg.name == user1Name else 'user2' }}">
      <div class="bubble">
        <span class="name {{ 'user1' if msg.name == user1Name else 'user2' }}">{{ msg.name }}</span>
        <p>{{ msg.message }}</p>
      </div>
      <span class="timestamp">{{ msg.timestamp }}</span>
    </div>
    {% endfor %}
  </div>
  <!-- <div class="inputs">
    <input type="text" rows="3" placeholder="Message" name="message" id="message" />
    <button type="button" name="send" id="send-btn" onClick="sendMessage()">Send</button>
    <button type="button" name="live" id="live-btn" onClick="toggleButtonText()">Live</button>
  </div> -->
</section>

<section class="home-button-container">
  <a href="{{ url_for('home') }}" class="home-button">다른 주제로 토론 시작</a>
</section>

<script type="module">
  var socketIO = io();
  var isLive = true; // default to live

  const messageBoxes = document.getElementById("messages");
  const user1Name = "Gemini"; //"{{ session['name'] }}";
  const user2Name = "The Other User"; // TODO

  // const scrollDown = () => {
  //   messages.scrollTop = messages.scrollHeight;
  // };
  const scrollDown = () => {
    // 사용자가 메시지 목록의 아래쪽에 충분히 가까우면 스크롤 다운
    const threshold = 100; // 사용자가 이 값보다 더 가까이 있을 때 자동으로 스크롤 다운
    const positionFromBottom =
      messageBoxes.scrollHeight -
      (messageBoxes.scrollTop + messageBoxes.clientHeight);

    if (positionFromBottom < threshold) {
      messageBoxes.scrollTop = messageBoxes.scrollHeight;
    }
  };

  const sendMessage = () => {
    const message = document.getElementById("message");
    if (message.value.trim() !== "") {
      socketIO.emit("message", { data: message.value });
      if (!isLive) {
        socketIO.emit("typing", { is_typing: false, message: "" });
      }
      message.value = "";
    }
  };

  const createMessage = (name, msg) => {
    const isAdmin = name === "admin";
    const userClass = isAdmin ? "admin" : name === user1Name ? "user1" : "user2";
    let content = "";

    if (userClass === "admin") {
      content = `
      <div class="message ${userClass}">
        <div class="bubble">
          <span class="name">${name}</span>
          <p>${msg}</p>
        </div>
      </div>
      `;
    } else {
      content = `
    <div class="message ${userClass}">
      <div class="bubble">
        <div class="profile">
          <img src="./static/User.png" alt="user" class="logo">
          <span class="name">${name}</span>
        </div>
        <p>${msg}</p>
      </div>
      <span class="timestamp">${new Date().toLocaleString()}</span>
    </div>
    `;
    }
    messageBoxes.innerHTML += content;
    scrollDown();
  };

  const createGPTMessage = (chatgptResponse) => {
    let content = "";

    const formattedResponse = chatgptResponse.replace(/\n/g, "<br>");
    content += `
  <div class="message chatgpt-response">
      <div class="bubble">
          <div class="profile">
            <img src="./static/ChatGPT.png" alt="ChatGPT" class="logo">
            <span class="name">ChatGPT - 찬성 측</span>
          </div>
          <p>${formattedResponse}</p>
      </div>
      <span class="timestamp">${new Date().toLocaleString()}</span>
  </div>
  `;
    messageBoxes.innerHTML += content;
    scrollDown();
  };

  const createGeminiMessage = (geminiResponse) => {
    let content = "";

    const formattedResponse = geminiResponse.replace(/\n/g, "<br>");
    content += `
    <div class="message gemini-response">
        <div class="bubble">
            <div class="profile">
              <img src="./static/Gemini.png" alt="Gemini" class="logo">
              <span class="name">Gemini - 반대 측</span>
            </div>
            <p>${formattedResponse}</p>
        </div>
        <span class="timestamp gemini">${new Date().toLocaleString()}</span>
    </div>
    `;
    messageBoxes.innerHTML += content;
    scrollDown();
  };

  const showTyping = (name, typingText) => {
    const isUser1 = name === user1Name;
    const userClass = isUser1 ? "user1" : "user2";
    const textAlignStyle = isUser1 ? "flex-end" : "flex-start";

    if (typingText === "") {
      const existingTypingMessage = document.querySelector(
        `.${userClass}.${name}-typing-message`
      );
      if (existingTypingMessage) {
        existingTypingMessage.remove();
      }
      return;
    }
    let a = "";
    if (name == "ChatGPT") {
      a = "찬성";
    } else {
      a = "반대";
    }

    const formattedtyping = typingText.replace(/\n/g, "<br>");

    const typingContent = `
    <div class="message typing-message ${userClass} ${name}-typing-message">
      <div class="bubble" style="align-self: ${textAlignStyle};">
        <div class="profile">
          <img src="./static/${name}.png" class="logo">
          <span class="name">${name} - ${a} 측</span>
        </div>
        <p>${formattedtyping}</p>
      </div>
      <span class="timestamp"> ${name} is typing ... </span>
    </div>
  `;

    const existingTypingMessage = document.querySelector(
      `.${userClass}.${name}-typing-message`
    );
    if (existingTypingMessage) {
      existingTypingMessage.innerHTML = typingContent;
    } else {
      messageBoxes.innerHTML += typingContent;
    }

    scrollDown();
  };

  const createNotification = (msg) => {
    const content = `
      <div class="notification">
        <p>${msg}</p>
      </div>
    `;
    messageBoxes.innerHTML += content;
    messageBoxes.scrollTop = messageBoxes.scrollHeight;
  };

  function simulateTypingRemoval(element) {
    const messageElement = element.querySelector(".bubble p");
    const typingText = messageElement.innerText;
    const words = typingText.split(" ");
    const wordCount = words.length;

    // Simulate removing words with a slower delay
    const delay = 100; // Adjust the delay to control the speed
    let i = wordCount;

    function removeWord() {
      if (i >= 0) {
        const updatedText = words.slice(0, i).join(" ");
        messageElement.innerText = updatedText;
        i--;
        setTimeout(removeWord, delay);
      }
    }

    removeWord();
  }

  // function toggleButtonText() {
  //   var button = document.getElementById("live-btn");
  //   if (button.innerHTML === "Live") {
  //     button.innerHTML = "UnLive";
  //     button.classList.remove("live");
  //     button.classList.add("unlive");
  //     isLive = false;
  //     socketIO.emit("live-toggle", { status: "UnLive" });
  //   } else {
  //     button.innerHTML = "Live";
  //     button.classList.remove("unlive");
  //     button.classList.add("live");
  //     isLive = true;
  //     socketIO.emit("live-toggle", { status: "Live" });
  //   }
  // }

  messageBoxes.addEventListener("input", function () {
    const typingText = messageBoxes.value.trim();
    if (isLive) {
      socketIO.emit("typing", {
        is_typing: typingText !== "",
        message: typingText,
      });
    }
  });

  messageBoxes.addEventListener("keydown", function (event) {
    if (event.key === "Enter") {
      event.preventDefault();
      sendMessage();
    }
  });

  socketIO.on("connect", function () {
    var userTopic = "{{ topic }}";
    socketIO.emit("sendTopic", { topic: userTopic });
  });

  socketIO.on("message", (data) => {
    if (data.is_typing) {
      showTyping(data.name, data.message);
    } else {
      createMessage(data.name, data.message);
      const isUser1 = data.name === user1Name;
      const userClass = isUser1 ? "user1" : "user2";
      const existingTypingMessage = document.querySelector(
        `.${userClass}.${data.name}-typing-message`
      );
      if (existingTypingMessage) {
        existingTypingMessage.remove();
      }
    }
  });

  socketIO.on("gpt-message", (data) => {
    if (data.is_typing) {
      showTyping("ChatGPT", data.message);
    } else {
      createGPTMessage(data.message);
      const isUser1 = data.name === user1Name;
      const userClass = isUser1 ? "user1" : "user2";
      const existingTypingMessage = document.querySelector(
        `.${userClass}.ChatGPT-typing-message`
      );
      if (existingTypingMessage) {
        existingTypingMessage.remove();
      }
      if (data.audio_base64) {
        const audio = new Audio("data:audio/ogg;base64," + data.audio_base64);
        audio.play();
        audio.onended = function () {
          socketIO.emit("tts_finished", { side: data.name, room: "{{ code }}" });
        };
      }
    }
  });

  socketIO.on("gemini-message", (data) => {
    if (data.is_typing) {
      showTyping("Gemini", data.message);
    } else {
      createGeminiMessage(data.message);
      const isUser1 = data.name === user1Name;
      const userClass = isUser1 ? "user1" : "user2";
      const existingTypingMessage = document.querySelector(
        `.${userClass}.Gemini-typing-message`
      );
      if (existingTypingMessage) {
        existingTypingMessage.remove();
      }
      if (data.audio_base64) {
        const audio = new Audio("data:audio/ogg;base64," + data.audio_base64);
        audio.play();
        audio.onended = function () {
          socketIO.emit("tts_finished", { side: data.name, room: "{{ code }}" });
        };
      }
    }
  });

  socketIO.on("clear-gpt-response", () => {
    const existingTypingMessage = document.querySelector(
      ".ChatGPT-typing-message"
    );
    if (existingTypingMessage) {
      simulateTypingRemoval(existingTypingMessage);
    }
  });

  socketIO.on("clear-gemini-response", () => {
    const existingTypingMessage = document.querySelector(
      ".Gemini-typing-message"
    );
    if (existingTypingMessage) {
      simulateTypingRemoval(existingTypingMessage);
    }
  });

  socketIO.on("notification", function (data) {
    const message = data.message;
    createNotification(message);
  });
</script>
{% endblock %}
